<div class="container">
  <div
    class="trigger"
    #cpPopover="popoverRef"
    [style.background]="color"
    [cdkhPopover]="popover"
  ></div>
  <ng-template #popover>
    <div class="color-picker-container">
      <div
        class="color-picker-inline"
        [(colorPicker)]="color"
        [style.background]="color"
        [cpDialogDisplay]="'inline'"
        [cpToggle]="true"
        (colorPickerChange)="colorChanged($event)"
        (cpToggleChange)="cpPopover.overlayRef.updatePosition();"
      ></div>
    </div>
  </ng-template>
</div>
